
*{
    -webkit-user-select: none;
}

.keyboard_popup_wrapper {
    width: 620px;
    margin: 0 auto;
}

.keyboard_ru {
    width: 620px;
}
.keyboard_generated_en .kbtn {
    width: 55px;
}
.keyboard_generated_fullnum .kbtn {
    width: 55px;
}

.kb-wrap {
    position: relative;
    padding: 10px 5px 5px 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.685);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}

.kbw-wrap {
    display: none;
    margin: 0 auto;
}

.kb-c {
    padding-bottom: 1px;
    display: none;
}

.kb-row {
    margin-bottom: 6px;
    height: 55px;
}

.kb-row:after {
    content: '';
    clear: both;
    display: block;
}

.kbtn {
    float: left;
    width: 45px;
    height: 46px;
    text-align: center;
    font-size: 32px;
    color: black;
    background-color: #fff;
    cursor: pointer;
    margin-right: 5px;
    padding-top: 7px;
    line-height: 31px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
}

.kbtn:hover,
.kbtn.focus {
    background: #553c64;
    color: white;
}

.kbtn.nums, .kbtn.lang {
    display: none;
}

/*show lang button on multilanguage keyboards*/
.kb-multilang .kbtn.lang {
     display: block;
 }

.kb-havenums .kbtn.nums {
    display: block;
}

.keyboard_fullnum .kbtn.nums {
    width: 175px;
}

.kbtn.shift, .kbtn.nums, .kbtn.lang {
    width: 65px;
    font-size: 14px;
}


.kbtn.shift {
    width: 95px;
}

.kbtn.delall {
    font-size: 16px;
    line-height: 18px;
    padding-top: 3px;
    height: 50px;
}
.keyboard_generated_en .delall {
    width: 74px;
}
.keyboard_generated_en .kbtn.nums {
    width: 75px;
    font-size: 14px;
}
.keyboard_generated_en .kbtn.lang {
    width: 75px;
    font-size: 14px;
}
.kbtn.space {
    width: 315px;
}

.keyboard_ru .space {
    width: 395px;
}

.kb-multilang .space {
    width: 255px;
}

.keyboard_en .kb-multilang.kb-havenums .space {
    width: 330px;
}

.keyboard_fullnum .space{
    width: 420px!important;
}


.keyboard_ru .kb-multilang .kbtn.space {
    width: 430px;
}

.keyboard_en .kb-havenums .space {
    width: 255px;
}

.keyboard_ru .kb-multilang.kb-havenums .kbtn.space {
    width: 350px;
}

.kbtn.complete {
    width: 100px;
    text-align: center;
    font-size: 16px;
}
.keyboard_fullnum .complete {
    width: 170px;
}

.backspace_icon, .shift_icon {
    background: url("img/key_i.png") -27px -4px no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 14px;
}

.backspace_icon {
    width: 14px;
    height: 6px;
    background-position: -2px -3px;
    margin-top: 10px;
}

.shift_icon {
    background-position: -36px -4px;
    margin-top: 6px;
    margin-right: 4px;
}

.shift_active .kbtn.shift {
    color: #1295e4;
}

.shift_active .kbtn {
    text-transform: uppercase;
}

#keyboard_overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    z-index: 20;
}

#keyboard_popup {
    position: absolute;
    z-index: 50;
    display: block;
    left: 200px;
    top: 200px;
    margin: 20px 0 0 -50px;
}

.num_wrap {
    width: 226px;
}
.num_wrap .kbtn,
.num_wrap .kbtn.complete {
    width: 65px;
}