.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background: #ff66009d;
}

.item {
    padding: 20px;
    color: #fff;
    background: #c91212;
}