<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:wght@200&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
    margin: 0;
    padding: 0;
}
</style>

<body>
    <iframe src="/anime" onload="this.width=(screen.width - 250);this.height=(screen.height - 250);" frameborder="0"></iframe>
</body>
    <script>
        document.get
    </script>
</html>